{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!--<body style="background-image: url(/static/register.png)">-->

    <div class="jumbotron">
      <h1 class="display-4">Nice to meet you!</h1>
      <p class="lead">Before you get started...</p>
      <p>Every workout that you personally create can be found on this page, the <b>'Home'</b> page!</p>
      <p>To create your first workout, click the <b>'Create'</b> button at the top of the page!</p>
      <p>To view the publicized workout of another user, navigate to the <b>'View'</b> page!</p>
    </div>

{% endblock %}