{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="jumbotron">
      <h1 class="display-5">Welcome home!</h1>
      <p class="lead">Select a workout plan below to get started!</p>
    </div>

    <table style="width:100%" class="table table-striped">

        <tr>
            <th>Workout Name</th>
            <th>Workout Type</th>
            <th>Author Name</th>
            <th>View</th>
            <th>Remove</th>
        </tr>

        <form action="/" method="POST" >
        {% for workout in workouts %}
            <tr>
                <td>{{ workout.workout_name }}</td>
                <td>{{ workout.workout_type }}</td>
                <td>{{ workout.author_name }}</td>
                <td><button type="submit" name="selector" id="{{ workout.workout_id }}" value="{{ workout.workout_id }}" class="btn btn-success"><span class="far fa-eye fa-fw"></span>    Select</button></td>
                <td><button type="submit" name="deleter" id="{{ workout.workout_id }}" value="{{ workout.workout_id }}" class="btn btn-danger"><span class="far fa-trash-alt fa-fw"></span>    Delete</button></td>
            </tr>
        {% endfor %}
        </form>
    </table>

{% endblock %}